@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Open+Sans:wght@500&family=Raleway:wght@300&family=Roboto+Mono:ital,wght@0,300;1,300&family=Roboto:ital,wght@1,300&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/a09bb938-2d90-42ae-986e-5a3e4abf9e77/8eb1e781-3494-4aa4-9405-268ca6473e4c/IN-en-20231113-popsignuptwoweeks-perspective_alpha_website_large.jpg');
    height: 80vh;
    position: relative;
    background-position: center center;
    background-size: max(1500px, 150vw);
    background-repeat: no-repeat;
}

.main .box {
    height: 80vh;
    width: 100%;
    opacity: 0.7;
    position: absolute;
    top: 0;
    background-color: black;
    color: whitesmoke;
}

nav {
    max-width: 60vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 62px;
}

nav button {
    position: relative;
    z-index: 10;
}

nav img {
    color: red;
    width: 123px;
    position: relative;
    z-index: 10;
}

nav div select {
    background-color: black;
    color: white;
    position: relative;
    z-index: 10;
    width: 75px;
    padding: 5px 1px;
}

.hero {
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    height: 100%;
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 20px;
    padding: 0 30px;
}

.hero> :nth-child(1) {
    font-weight: 900;
    font-size: 30px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separtion {
    height: 7px;
    background-color: rgb(61, 61, 61);
    position: relative;
    z-index: 20;
}

.btn {
    border: 1px solid white;
    padding: 4px 16px;
    background-color: rgba(23, 23, 23, 0.1);
    color: white;
    border-radius: 2px;
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.btn1 {
    background-color: red;
    color: white;
}

.btn-red {
    background-color: red;
    padding: 8px 15px;
    color: white;
    font-size: 21px;
    border-radius: 4px;
    font-weight: 400;
    border: none;
}

.main input {
    padding: 9px 140px 17px 4px;
    font-size: 13px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.4);
    border: 1px solid white;
    color: white;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    align-items: center;
    color: white;
}


@media screen and (max-width: 1300px) {

    nav {
        max-width: 85vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 7px;
    }

    .faq h2 {
        text-align: center;
        padding: 23px;
        font-size: 32px;
    }

    .footer-item {
        align-items: center;
    }


}

.secImg {
    position: relative;
}

.secImg img {
    width: 496px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 95px;
    right: 4px;
    width: 441px;
}

section.first>div {
    font-family: "Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif";
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    padding: 34px 0;

}

section.first>div :nth-child(1) {
    font-size: 40px;
    font-weight: bolder;
}

section.first>div :nth-child(2) {
    font-size: 19px;
}

.second {
    max-width: 70vw;
    margin: auto;
}

@media screen and (max-width: 1300px) {
    section.second>div {
        padding: 40px;
        flex-wrap: wrap;
    }
}


section.second>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.second>div :nth-child(1) {
    font-size: 42px;
    color: white;
    font-weight: bolder;
}

section.second>div :nth-child(2) {
    font-size: 19px;
    color: white;
}

.faq h2 {
    text-align: center;
    padding: 23px;
    font-size: 48px;
}

.faq {
    background-color: black;
    color: white;
}

.faqbox {
    transition: all 1s ease-out;
    display: flex;
    background-color: gray;
    justify-content: space-between;
    max-width: 40vw;
    margin: 34px auto;
    padding: 25px;
    cursor: pointer;

}

.faqbox:hover {
    background-color: rgb(255, 0, 0);
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 20px;
}

footer .questions {
    padding: 34px 0;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

@media screen and (max-width: 1300px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;

    }

}




.footer a {
    font-size: 10px;
    text-decoration: none;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

